.init.formulaire{
    width: 80%;
    padding: 20px;
    margin-top: 15px;
}
.init .form{
 display: block;
 margin-top: 30px;
 padding-left: 45px;
}

.init #text{
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}
.init #text1{
    font-size: 25px;
    margin-top: 20px;
    text-align: center;
}
