
.resultat .content  .mcp1.form{
    -webkit-display:flex;
     display: flex;
     margin-top: 5px;
     width: 100%;
     height: 140px;
}
.resultat .content .mcp1 .box1{
    display: inline-block;
    width: 90%;
}
.resultat .content .mcp1 .box2{
    display: inline-block;
    width: 90%;
    margin-left: 5px;
}
.resultat .content .mcp1 .nomequipe1{
    height: 30px;
   
}
.resultat .content .mcp1 .logo1{
    background-color: #fff;
    border-radius: 4px;
}
.resultat .content .mcp1 .jolieimage{
    height: 100px;
}
.resultat .content .mcp1 .nomequipe2{
    height: 30px;
 
}
.resultat .content .mcp1 .logo2{
    background-color: #fff;
    border-radius: 4px;
}

.resultat .content .mcp1 a{
    color: initial;
}


.resultat .content .mcp1 .score{
    display: inline-block;
    border: none;
    width: 10%;
    margin-top: 34%;
    font-size: 200%;
    text-align: center;

}
.resultat .content .mcp1 h3{
    font-size: 0.8em;
}
.resultat .content .mcp1 .vs{
    margin-top: 58px;
}
@media (min-width: 700px){
    .resultat .content .mcp1 .score{
        margin-top: 20%;
    }
}
@media (max-width:480px){
    .resultat .content .mcp1 .score{
        margin-top: 28%;
    }
}